html {
  font-size: 50%;

  @media only screen and (min-width: $breakpoint-large) {
    font-size: 60%;
  }

  @media only screen and (min-width: $breakpoint-big) {
    font-size: 70%;
  }
}

body {
  background-color: $body-bd;
  color: $body-color;
  font-family: $font-family-objectivity;
  overflow-x: hidden;
}

.m {
  &t {
    &-lg {
      margin-top: 4rem;
    }
  }
}

.rounded {
  border-radius: 50%;
}

.self-end {
  justify-self: end;
}

.invert-color {
  filter: invert(1);
}

a {
  font-size: 1.5rem;
  color: $white;
  text-decoration: none;
}

.link {
  &:hover {
    color: $primary;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}