h1 {
  font-size: 14rem;
  letter-spacing: 2.8px;
  line-height: 11.2rem;
}

h2 {
  font-size: 10rem;
  letter-spacing: 2px;
  line-height: 8.8rem;
}

h3 {
  font-size: 4.8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

h4 {
  font-size: 2.8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

h6 {
  font-size: .8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.h1 {
  font-size: 14rem;
  letter-spacing: 2.8px;
  line-height: 11.2rem;
}

.h2 {
  font-size: 10rem;
  letter-spacing: 2px;
  line-height: 8.8rem;
}

.h3 {
  font-size: 4.8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

.h4 {
  font-size: 2.8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

.h5 {
  font-size: 1.8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

.h6 {
  font-size: .8rem;
  letter-spacing: .96px;
  line-height: 8.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: -0.18px;
  margin: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.text-primary {
  color: $primary
}

.bold {
  font-weight: 700;
}

.font-secondary {
  font-family: $font-family-objectivity;
}