.btn {
  background-color: $white;
  color: $black;
  padding: 1.1rem 3rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;

  &:hover {
    background-color: $primary;
  }

  &-circle, &-circle-sm {
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 

  }
  &-circle {
    height: 6.6rem;
    width: 6.6rem;
  }

  &-circle-sm {
    height: 3.4rem;
    width: 3.4rem;
  }

  &-circle-hiden {
    display: none;
    @media only screen and (min-width: $breakpoint-med) {
      display: flex;
    }
  }
  
  &-secondary {
    background-color: $secondary;
    color: $white;
  }
}