.card {
  background-color: $white;  
  border-radius: 5px;
  color: $secondary;
  width: 75%;
  min-height: 65rem;
  margin: 0 auto;
  padding: 3rem 2.3rem;
  margin-bottom: 10rem;
  max-width: 80rem;

  @media screen and (min-width: $breakpoint-med) {
    min-width: 33rem;
    max-width: 33rem;
    min-height: 45rem;
    margin: 0;
    margin-bottom: 0;
  }


  @media screen and (min-width: $breakpoint-large) {
    margin: 0;
    width: auto;
  }
  
  &-title {
    line-height: 1.15;
  }
  
  &-subtitle {
    line-height: 1;
    color: $secondary;
  }
  
  &-image {
    height: 15rem;
    object-fit: contain; 
  }
  
  &-header {
    display: flex;
    align-items: center;

    span {
      margin-left: 1rem;
    }
  }
}