.card {
  background-color: $white;  
  color: $secondary;
  border-radius: 5px;
  padding: 3rem 2.3rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  
  @media only screen and (min-width: $breakpoint-med) {
    min-width: 28.4rem;
    max-width: 28.4rem;
    min-height: 40rem;
    margin: 0;
    margin-left: 3rem;
    margin-bottom: 0;
  }

  &:first-child {
    @media only screen and (min-width: $breakpoint-med) {
      margin-left: 0;
    }
  }

  &-title {
    line-height: 1.15;
  }
  
  &-subtitle {
    line-height: 1;
  }

  &-image {
    height: 15rem;
    object-fit: contain;
    @media only screen and (min-width: $breakpoint-med) {
      height: 8rem;
    }
  }

  &-header {
    display: flex;
    align-items: flex-end;

    span {
      margin-left: 1rem;
    }
  }

  &-body {
    height: 33rem;
    @media only screen and (min-width: $breakpoint-med) {
      height: 11.3rem;
    }
  }

  & .category {
    color: #B1B1B1;
  }
}