{{ $img := resources.Get "images/halftone.jpg" }}
{{ $imgResize := $img.Resize "980x1133" }}
<section class="container my-xl">
  <div class="about">
    <div class="about-info">
      <div>
        <h1 class="text-primary mb-xl">Make it happen</h1>
        <p>Hashed provides products and services enabled by blockchain technology. Our platform features high quality, well-tested building blocks that jumpstart new product development.</p>
        <br>
        <br>
        <p>We operate high-availability, low-latency production nodes on the world’s top networks. Our experienced team has a proven track record of repeatedly delivering best of breed outcomes.</p>
      </div>
      <img class="selft-end text-white" height="62" width="20" src="icons/arrow.svg" alt="arrow down">
    </div>
    <div class="about-img-container">
      <img class="about-img" src="{{ "images/halftone.jpg" | absURL}}" alt="halftone">
    </div>
  </div>
</section>