<section>
  <div>
    <div>
      <h1>Make it happend</h1>
      <p>Hashed provides products and services enabled by blockchain technology. Our platform features high quality, well-tested building blocks that jumpstart new product development. We operate high-availability, low-latency production nodes on the world’s top networks. Our experienced team has a proven track record of repeatedly delivering best of breed outcomes.</p>
      <img height="50" width="50" src="icons/arrow-down.svg" alt="arrow down">
    </div>
    <div>
      <img height="800" width="800" src="images/halftone-earth.jpg" alt="halftone earth">
    </div>
  </div>
</section>