{{ $page := .Site.GetPage "areas" }} 
{{ $pages := $page.Pages }} 
<section class="container">
  <div class="areas">
    <div class="areas-info">
      <h2 class="text-primary areas-title">{{ $page.Title }}</h2>
      <p>{{ $page.Params.Description }}</p>
    </div>
    <div class="areas-list">
      {{ range $pages }}
      <div class="areas-item">
        <img height="124" width="144" src="{{ .Params.Icon }}" alt="{{ .Params.Title }}">
        <h3 class="h5 bold font-secondary area-title">{{.Params.Title }}</h3>
        <a class="btn btn-circle-sm" href="{{ .Permalink }}"><img class="invert-color" height="19" width="11" src="icons/arrow.svg" alt="arrow down"><span class="sr-only">Arrow down</span></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>