{{ $page := .Site.GetPage "articles" }} 
{{ $pages := last 4 $page.Pages }} 

<section class="container mt-xl">
  <div class="articles" id="articles">
    <div class="articles-info">
      <h2 class="text-primary">Recent articles</h2>
      <a class="btn hiden-ib mt-xl" href="{{ $page.Permalink }}">View all articles</a>
    </div>
    <div class="articles-list">
      {{ range sort $pages "Date" "asc" }}
        <div class="article">
          <div class="article-title">
            <h3 class="normal-line">{{ .Title }}</h3>
            <p class="mt-sm">{{ .Date | time.Format "Jan 2, 2006" }}</p>
          </div>
          <a class="btn btn-circle btn-circle-hiden arrow-right" href="{{ .Permalink }}"><img class="invert-color" width="24" height="24" src="icons/arrow.svg" alt=""><span class="sr-only">Arrow down</span></a>
        </div>
      {{ end }}
    </div>
  </div>
</section>