{{ $img := resources.Get "images/liquid.jpg" }}
{{ $imgResize := $img.Resize "800x800" }}
<section class="container">
  <div class="liquidity">
    <div class="liquidity-info">
      <h2 class="text-primary mb-xl">Generating liquidity from illiquid assets</h2>
      <p>Using Wyoming’s new legislation recognizing digital identities, assets, and organizations, we developed a legal and technological playbook that enables LLCs to directly tokenize its assets on-chain, where they can be trustlessly traded or used as collateral.
      <br>
       <br>We follow this playbook ourselves for tokenizing land, and the on-chain tokens are legally-recognized as final settlement for ownership of the LLC. Contact us to get started tokenizing your assets or crowdfunding the purchase of new ones.</p>
      <a class="btn hiden mt-xl" href="#">View all products</a>
    </div>
    <div class="liquidity-img-container">
      <img class="liquidity-img rounded" height="{{ $imgResize.Height }}"  width="{{ $imgResize.Width }}" src="{{ $imgResize.RelPermalink }}" alt="liquid halftone">
    </div>
  </div>
</section>