<section class="container">
  <div class="liquidity">
    <div class="liquidity-info">
      <h2 class="text-primary">Generating liquidity from illiquid assets</h2>
      <p>Using Wyoming’s new legislation recognizing digital identities, assets, and organizations, we developed a legal and technological playbook that enables LLCs to directly tokenize its assets on-chain, where they can be trustlessly traded or used as collateral.
      <br>
       <br>We follow this playbook ourselves for tokenizing land, and the on-chain tokens are legally-recognized as final settlement for ownership of the LLC. Contact us to get started tokenizing your assets or crowdfunding the purchase of new ones.</p>
      <a class="btn hiden mt-lg" href="#">View all products</a>
    </div>
    <div class="liquidity-img-container">
      <img class="liquidity-img rounded" height="800" width="800" src="images/liquid-halftone-1.jpg" alt="liquid halftone">
    </div>
  </div>
</section>