<section class="container">
  <div class="stack">
    <h2 class="text-primary stack-title">Our current stack</h2>
    <div class="stack-list">
      <img id="ethereum" width="50" height="50" src="partners/ethereum.svg" alt="">
      <img id="kusama" width="50" height="50" src="partners/kusama-ksm-logo-full.svg" alt="">
      <img id="polkadot" width="50" height="50" src="partners/polkadot-new-dot-logo.svg" alt="">
      <img id="telos" width="50" height="50" src="partners/telos.svg" alt="">
      <img id="flow" width="50" height="50" src="partners/flow-flow-logo.svg" alt="">
      <img id="eos" width="50" height="50" src="partners/eos-eos-logo.svg" alt="">
      <img id="solana" width="50" height="50" src="partners/solana-sol-logo-horizontal.svg" alt="">
      <img id="wax" width="50" height="50" src="partners/wax-waxp-logo.svg" alt="">
    </div>
  </div>
</section>