<section class="stack">
  <div>
    <h2>Our current stack</h2>
    <div>
      <img width="50" height="50" src="partners/ethereum.svg" alt="">
      <img width="50" height="50" src="partners/kusama-ksm-logo-full.svg" alt="">
      <img width="50" height="50" src="partners/wax-waxp-logo.svg" alt="">
      <img width="50" height="50" src="partners/polkadot-new-dot-logo.svg" alt="">
      <img width="50" height="50" src="partners/telos.svg" alt="">
      <img width="50" height="50" src="partners/flow-flow-logo.svg" alt="">
      <img width="50" height="50" src="partners/eos-eos-logo.svg" alt="">
      <img width="50" height="50" src="partners/solana-sol-logo-horizontal.svg" alt="">
    </div>
  </div>
</section>