{{ $logoRes := resources.Get "logo/Hashed_Logo.png" }}
{{ $logo := $logoRes.Resize "250x90" }}
<footer class="container">
  <div class="footer" >
    <a class="logo" href="{{ .Site.BaseURL }}">
      <img src="{{ $logo.RelPermalink }}" width="{{ $logo.Width }}" height="{{ $logo.Height }}" alt="Hashed Logo">
    </a>
    <div class="footer-links">
        <ul class="footer-links-social">
          {{ range .Site.Menus.social -}}
            <li>
              <a href="{{ .URL | absURL }}">{{ .Pre | safeHTML }}<span class="sr-only">{{ .Name | safeHTML }}</span></a>
            </li>
          {{ end -}}
        </ul>
        <ul class="footer-links-information">
          {{ range .Site.Menus.footer }}
            <li>
              <a href="{{ .URL | absURL }}">{{ .Pre | safeHTML }}<span>{{ .Name | safeHTML }}</span></a>
            </li>
          {{ end -}}
        </ul>
    </div>
  </div>
</footer>