.projects {
  display: flex;
  &-bg {
    background: transparent $purple-gradient 0% 0% no-repeat padding-box;
  }
  
  &-images {
    width: calc(100% - 59rem);
    margin: 6.2rem 11.2rem 4.6rem 8.9rem;
    position: relative;
    img {
      width: 100%;
      height: auto;
      position: absolute;
    }

    .img-hidden {
      opacity: 0;
    }
  }

  &-list {
    // display: flex;
    // flex-direction: column;
    width: 59rem;
  }

  .project {

    &:hover .project-body { 

    }

    &-body {
      height: 2px;
      overflow: hidden;
    }

  }
}

