.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  @media only screen and (min-width: $breakpoint-big) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: $breakpoint-big) {
      align-items: flex-end;
    }

    & a {
      font-size: 3rem;
      @media only screen and (min-width: $breakpoint-med) {
        font-size: 2rem;
      }
      text-decoration: none;
      color: $secondary;
      &:hover {
        color: $primary;
      }
    }

    &-social, &-information {
      display: flex;
      list-style: none;
      padding: 0;
    }

    &-social {
      margin-top: 4rem;
      & > li:not(:first-child) {
        margin-left: 2rem;
      }
      @media only screen and (min-width: $breakpoint-med) {
        justify-content: flex-end;
      }

      svg {
        height: 40px;
        width: 40px;
      }
    }

    &-information {
      & > li:not(:first-child) {
        margin-left: 2rem;
      }
      @media only screen and (min-width: $breakpoint-med) {
        justify-content: flex-end;
      }
      & a {
        color: rgba($color: $white, $alpha: .7);
      }
    }
  }
}