.header {
  display: flex;
  margin: 4.5rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: $breakpoint-small) {
    flex-direction: row;
    justify-content: space-between;
  }
  
  @media only screen and (min-width: $breakpoint-med) {
    margin: 0;
    margin-top: 4.5rem;
  }

  &-links {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 5rem;
    
    @media only screen and (min-width: $breakpoint-med) {
      margin-top: 0;
      width: 54rem; 
    }

    li {
      &:not(:last-child) {
        @media only screen and (min-width: $breakpoint-med) {
          margin-right: 8rem;
        }
      }
    }

    & a {
      text-decoration: none;
      color: $white;
    }
  }
}