.navigation {
  margin-top: auto;
  margin-bottom: auto;
  @media only screen and (min-width: $breakpoint-large) {
    display: none;
  }

  &-checkbox {
    display: none;
  }
  
  &-button {
    height: 9rem;
    width: 9rem;
    position: relative;
    z-index: 6;
    cursor: pointer;
    margin: 0 !important;
    padding-right: 2rem;
  }

  &-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &,
    &::after,
    &::before {
      width: 6rem;
      @media only screen and (min-width: $breakpoint-med) {
        width: 4rem;
      }
      height: 3px;
      background-color: $white;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.1s;
    }

    &::before {
      bottom: 1.5rem;
    }

    &::after {
      top: 1.5rem;
    }
    @media only screen and (min-width: $breakpoint-med) {
      &::before {
        bottom: 1rem;
      }

      &::after {
        top: 1rem;
      }
    }
  }
  
  &-background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    background-color: $white; 
    z-index: 2;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  &-nav {
    height: 100vh;
    top: 0;
    position: absolute;
    right: -100%;
    z-index: 4;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  &-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 100%;
    padding-inline-start: 10rem;
    display: none;
  }
  
  &-item {
    margin: 1rem;
  }
  
  &-link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 6rem 2rem;
      margin: 3rem 0;
      color: $secondary;
      text-decoration: none;
      text-transform: uppercase; 
      background-size: 225%;
      transition: all 0.4s; 
    }

    &::before {
      background: $primary;
      border-radius: 50%;
      content: "";
      height: 8px;
      width: 8px;
      opacity: 0;
      left: -5px;
      top: calc(50% - 6px);
      position: absolute;
      transition: all .25s ease;
    } 

    &:hover,
    &:active, 
    &-active {
      color: $primary !important;
      transform: translateX(1rem);
      &::before {
        opacity: 1;
      } 
    }
  }
  
  &-checkbox:checked ~ &-background {
    opacity: 1;
    right: 0;
  }
  
  &-checkbox:checked ~ * > &-icon {
    &, &::before, &::after {
      background-color: $secondary;
    }
  }
  
  &-checkbox:checked ~ &-nav {
    right: 0;
    width: 100%;
  }

  &-checkbox:checked ~ &-nav > &-list {
    display: block;
  }
  
  &-button:hover &-icon::before {
    bottom: 1.8rem;
  }

  &-button:hover &-icon::after {
    top: 1.8rem;
  }

  @media only screen and (min-width: $breakpoint-med) {
    &-button:hover &-icon::before {
      bottom: 1.2rem;
    }

    &-button:hover &-icon::after {
      top: 1.2rem;
    }
  }

  &-checkbox:checked + &-button &-icon {
    background-color: transparent;
  }

  &-checkbox:checked + &-button &-icon::before {
    bottom: 0;
    transform: rotate(135deg);
  }

  &-checkbox:checked + &-button &-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}