<header class="container">
  <div class="header">
    <a class="logo" href="{{ .Site.BaseURL }}">
      <img height="50" width="50" class="symbol" src="{{ "logo/Hashed_Symbol_Gradient.png" | absURL }}" alt="Hashed Logo">
      <img height="60" width="150" class="name" src="{{ "logo/Hashed_Logo_GradientWhite.png" | absURL }}" alt="Hashed Logo">
    </a>
    <ul class="header-links">
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}"><span>{{ .Name | safeHTML }}</span></a>
        </li>
      {{ end -}}
    </ul>
  </div>
</header>