.about { 
  margin-top: 5rem;
  @media screen and (min-width: $breakpoint-large) {
  }

  @media screen and (min-width: $breakpoint-big) {
    display: flex;    
    gap: 2%;
    z-index: 1;
  }

  @media screen and (min-width: $breakpoint-big-2) {
    gap: 15rem;
    margin-top: 0;
  }

  &-info {
    flex: 0 0 auto;
    @media screen and (min-width: $breakpoint-big) {
      max-width: 60rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-content: space-between;
    }

    @media screen and (min-width: $breakpoint-big-2) {
      max-width: 60rem;
    }

    & p {
      @media only screen and (min-width: $breakpoint-big) {
        max-width: 50rem;
      }
    }
    & > img {
      height: 6rem;
      width: 3rem;
      margin-top: 5rem;
      @media only screen and (min-width: $breakpoint-big) {
        margin-top: 19rem;
        margin-bottom: 16rem;
      }
    }
  }

  &-img {
    transform:  scaleX(-1);  
    max-width: 92%;

    &-container {
      @media screen and (min-width: $breakpoint-med) {
        margin-inline: auto;
        max-width: 70%;
      }
      
      @media screen and (min-width: $breakpoint-big) {
        margin-inline: 0;
        // max-width: 50%;
        transform: scale(1.1) translateX(10%);
      }
    }
  }

}