.about {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  
  @media only screen and (min-width: $breakpoint-large) {
    justify-content: space-between;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60rem;
    @media only screen and (min-width: $breakpoint-med) {
      margin-top: 2rem;
      margin-right: 9rem;
    }

    & > img {
      margin-top: 19.5rem;
      height: 6rem;
      width: 3rem;
    }
    
    & p {
      @media only screen and (min-width: $breakpoint-med) {
        width: 50rem;
      }
    }
  }

  &-img {
    transform:  scaleX(-1);
    @media only screen and (min-width: $breakpoint-large) {
      max-width: 98rem;
    }  

    &-container {
      width: 45%;
      @media only screen and (min-width: $breakpoint-med) {
        width: auto;
      }
    }
  }  
  
  @media only screen and (min-width: $breakpoint-large) {
    flex-wrap: nowrap;
  }
}