.areas {
  &-info {
    margin-bottom: 13rem;
    @media only screen and (min-width: $breakpoint-med) {
      width: 52.7rem;
    }
  }

  &-title {
    margin-bottom: 5rem;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: $breakpoint-big) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (min-width: $breakpoint-big-2) {
      grid-template-columns: repeat(5, 1fr);
      gap: inherit;
    }
    justify-items: center;
    gap: 4rem 4.5rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > img {
      height: 12.4rem;
      width: 14.4rem;
    }

    & a img {
      height: 1.9rem;
      width: 1.1rem;
    }
  }

  .area-title {
    width: 18.6rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 3.5rem 0;
  }
}