.articles {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $breakpoint-med) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @media only screen and (min-width: $breakpoint-med) {
      width: 40%;
    }
  }

  &-list {
    margin-top: 2rem;
    @media only screen and (min-width: $breakpoint-med) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    @media only screen and (min-width: $breakpoint-med) {
      width: 80.3rem;
    }

    &:hover h4 {
      color: $primary;
    }

    &:hover > .btn {
      background-color: $primary;
    }

    & img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}