.articles {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $breakpoint-big) {
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
  }

  &-info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @media only screen and (min-width: $breakpoint-big) {
      width: auto;
    }
  }

  &-list {
    margin-top: 2rem;
    @media only screen and (min-width: $breakpoint-med) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 3.2rem;
    border-bottom: .1rem solid $white;
    padding-top: 3.2rem;
    
    @media only screen and (min-width: $breakpoint-big) {
      &:first-child {
        padding-top: 0;
      }
    }
    
    @media only screen and (min-width: $breakpoint-big-2) {
      width: 80.3rem; 
    }

    &-title {
      margin-right: 1rem;
    }

    .btn {
      flex: 0 0 auto;
    }

    &:hover h4 {
      color: $primary;
    }

    &:hover > .btn {
      background-color: $primary;
    }

    & img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}