.form {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $breakpoint-big) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-title { 
    @media only screen and (min-width: $breakpoint-big) {
      width: 50%;
    }
  }
}


form {
  width: 100%;
  @media only screen and (min-width: $breakpoint-med) {
    // max-width: 80%;
  }
  @media only screen and (min-width: $breakpoint-big) {
     width: 50%;
  }

  .btn {
    font-size: 4rem;
    justify-self: center;
    width: 40rem;
    padding: 2.5rem 1.5rem;
    margin: 0;
    display: block;
    @media only screen and (min-width: $breakpoint-med) {
      font-size: 1.4rem;
      width: auto;
      margin: 0;
      padding: 1.1rem 3rem;
      display: inline-block;
    }
  }
}

label {
  color: $white;
  &:first-child {
    margin-top: 5rem;
  }
  &:not(:first-child) {
    margin-top: 8rem;
  }
}

label, input, textarea {
  display: block;
  font-size: 3rem;
  font-weight: 100;
  @media only screen and (min-width: $breakpoint-large) {
    font-size: 2.2rem;
  }
}

input {
  border: 0;
  border-bottom: 1px solid $white;
  border-radius: 0;

  &:hover {
    outline: none;
  }
  
  &:focus-visible {
    outline: none;
  }
}

input, textarea {
  color: $white;
  width: 98%;
  background-color: transparent;
}

textarea {
  border: 1px solid $white;
  margin-bottom: 6.4rem;
  margin-top: 2rem;
  height: 12.5rem;
  resize: none; 
}