.liquidity {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 67rem;
  
  @media only screen and (min-width: $breakpoint-med) {
    max-height: 67rem;
    flex-direction: row;
    border: 1px solid $white;
  }
  
  &-info {
    padding: 2rem;
    @media only screen and (min-width: $breakpoint-med) {
      width: 60%;
      padding-left: 6.3rem;
    }
    
    @media only screen and (min-width: $breakpoint-large) {
      padding-left: 2rem;
    }

    @media only screen and (min-width: $breakpoint-big) {
      width: 66.3rem;
      padding-right: 10.1rem;
      padding-left: 6.3rem;
    }
    
    p {
      padding: 2rem 0;
      @media only screen and (min-width: $breakpoint-big) {
        padding: 5rem 0;
      }
    }
  }

  &-img {
    width: 50rem;    
    height: 50rem;
    @media only screen and (min-width: $breakpoint-med) {
      width: 65rem;
      height: 65rem;
    }
    
    @media only screen and (min-width: $breakpoint-large) {
      width: 60rem;
      height: 60rem;
    }
    
    @media only screen and (min-width: $breakpoint-big) {
      width: 75.4rem;
      height: 75.4rem;
    }

    &-container{
      @media only screen and (min-width: $breakpoint-med) {
        margin: 0 auto;
      }
      @media only screen and (min-width: $breakpoint-large) {
        margin: 0;
      }
    }
  }
}