.projects  {
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.7rem;
  }

  &-actions {
    width: 15.4rem;
    display: flex;
    justify-content: space-between;

    & img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &-list {
    @media only screen and (min-width: $breakpoint-med) {
      display: flex;
      justify-content: start;
      gap: 3rem;
      margin: auto;
      overflow-x: scroll;
      scroll-behavior: smooth; 
    }

    &::-webkit-scrollbar {
      display: none;
    }
    & > * {
      flex: 0 0 auto;
    }
  }

  &-item {
    width: 10rem;
  } 
}