.stack {
  &-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10rem 0;
    
    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: repeat(5, 1fr);
    }
    
    @media only screen and (min-width: $breakpoint-big) {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: $breakpoint-big) {
      flex-wrap: nowrap;
    }

    & > img {
      &:not(:first-child) { 
        @media only screen and (min-width: $breakpoint-big) {
          margin-top: 1rem;
          margin-left: 12rem;
        }
      }
      width: 9rem;
      height: 9rem;
    }
  }

  &-title {
    margin-bottom: 9.6rem;
  }
}

#ethereum {
  transform: scale(2);
}

#wax {
  transform: scale(1.5);
}

#kusama {
  transform: scale(3);
}

#polkadot {
  transform: scale(1.5);
}

#telos {
  transform: scale(2.5);
}

#eos {
  transform: scale(1.5);
}

#flow {
  transform: scale(1.5);
}

#solana {
  margin-left: 5rem;
  transform: scale(3.5);
  @media only screen and (min-width: $breakpoint-small) {
    margin-left: 0;
  }

}

@media only screen and (min-width: $breakpoint-large) {
  #ethereum {
    transform: scale(1.5);
  }

  #wax {
    margin-left: 10rem;
  }

  #kusama {
    transform: scale(2.2);
  }

  #polkadot {
    transform: scale(0.85);
  }

  #telos {
    transform: scale(1.8);
  }

  #eos {
    transform: scale(0.95);
  }

  #solana {
    transform: scale(3.5);
  }
}

@media only screen and (min-width: $breakpoint-big) {
  #solana {
    margin-left: 20rem;
  }

  #wax {
    margin-left: 20rem;
  }
}