.stack {
  &-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 5rem 0;
    
    @media only screen and (min-width: $breakpoint-med) {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    & > img {
      &:not(:first-child) {
        @media only screen and (min-width: $breakpoint-med) {
          margin-top: 1rem;
          margin-left: 12rem;
        }
      }
      width: 9rem;
      height: 9rem;
    }
  }

  &-title {
    margin-bottom: 9.6rem;
  }
}

#solana {
  transform: scale(1.8);
}

@media only screen and (min-width: $breakpoint-large) {
  #ethereum {
    transform: scale(1.5);
  }

  #wax {
    margin-left: 20rem;
  }

  #kusama {
    transform: scale(2.2);
  }

  #polkadot {
    transform: scale(0.85);
  }

  #telos {
    transform: scale(1.8);
  }

  #eos {
    transform: scale(0.95);
  }

  #solana {
    margin-left: 20rem;
    transform: scale(3.5);
  }
}
